[submodule "wasi-examples/random-ark"]
	path = wasi-examples/random-ark
	url = git@github.com:zavodil/random-ark.git
[submodule "wasi-examples/ai-ark"]
	path = wasi-examples/ai-ark
	url = git@github.com:zavodil/ai-ark.git
[submodule "wasi-examples/echo-ark"]
	path = wasi-examples/echo-ark
	url = git@github.com:zavodil/echo-ark.git
[submodule "wasi-examples/oracle-ark"]
	path = wasi-examples/oracle-ark
	url = git@github.com:zavodil/oracle-ark.git
