[submodule "wasi-examples/random-ark"]
	path = wasi-examples/random-ark
	url = git@github.com:zavodil/random-ark.git
[submodule "wasi-examples/ai-ark"]
	path = wasi-examples/ai-ark
	url = git@github.com:zavodil/ai-ark.git
