version: '3.8'

services:
  keystore:
    image: ${DOCKER_IMAGE_KEYSTORE}
    container_name: keystore

    environment:
      - SERVER_HOST=${SERVER_HOST}
      - SERVER_PORT=${SERVER_PORT}
      - NEAR_NETWORK=${NEAR_NETWORK}
      - NEAR_RPC_URL=${NEAR_RPC_URL}
      - OFFCHAINVM_CONTRACT_ID=${OFFCHAINVM_CONTRACT_ID}
      - ALLOWED_WORKER_TOKEN_HASHES=${ALLOWED_WORKER_TOKEN_HASHES}
      - TEE_MODE=tdx
      - KEYSTORE_MASTER_SECRET=${KEYSTORE_MASTER_SECRET}

    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"

    volumes:
      - /var/run/dstack.sock:/var/run/dstack.sock

    restart: always
